// Specific CSS for your home-page
body {
  background-color: $white !important;
}

.white-2 {
  width: 100%;
  background: $white;
}

.radient-bg {
  width: 100%;
  background: linear-gradient(180deg, rgba(193,238,255,1) 50%, rgba(245,245,245,1) 100%);
  padding-top: 2vh;
}
