<!-- FOOTER -->
<footer>
  <div class="logo-black">
    <%= image_tag("logo-black.jpg", class: "logo-b") %>
  </div>
  <div class="column-footer">
    <div class="services">
      <h3>Nos services</h3>
      <p>Intervention de plomberie<br>
      à domicile<br>
      Dépannage d’urgence<br>
      Chauffage<br>
      Rénovation salle de bain<br>
      Pose de climatisation</p>
    </div>
    <div class="contact">
      <h3>Contact</h3>
      <p><i class="fa fa-phone"></i>&nbsp;&nbsp;<a href="tel: 07 60 04 25 64">07 60 04 25 64</a><br>
      <i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;<a href="mailto: Tipcc@orange.fr">Tipcc@orange.fr</a><br>
      <i class="fa fa-location-dot"></i>&nbsp;&nbsp;&nbsp;Marseille et alentours</p>
    </div>
    <div class="horaires">
      <h3>Les horaires</h3>
      <p>Du lundi au jeudi de 8H à 18H<br>
      Le vendredi de 8H à 17H
      </p>
    </div>
  </div>
  <div class="footer-banner">
    <p>Copyright © 2023 - Tous droits réservés.</p>
  </div>
</footer>
