<!-- BLACK BANNER -->
<div class="black-banner">
  <p>lundi au jeudi 8h - 18h, vendredi 8h - 17h</p>
  <p><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;<a href="tel: 07 60 04 25 64">07 60 04 25 64</a></p>
</div>

<div class="radient-bg">
  <%= render "shared/top-bar" %>
  <p>Nicolas Terraz est un plombier à Marseille qui a consacré sa vie à son métier. Il a commencé comme apprenti plombier dans les années 80 et a rapidement ouvert sa propre entreprise. Il est fier de travailler avec son fils et son équipe d'artisans expérimentés pour offrir un service de qualité à ses clients.</p>
  <p>Pour Nicolas, l'artisanat est essentiel dans son métier. Il croit que les compétences et l'expérience sont la clé pour résoudre les problèmes de plomberie de manière efficace et durable. Il prend le temps de comprendre les besoins de ses clients et de leur fournir des solutions sur mesure, plutôt que de leur imposer des solutions standard.</p>
  <p>Nicolas et son équipe sont également des experts en matière de rénovation de salle de bain. Ils peuvent vous aider à transformer votre salle de bain en un espace moderne et fonctionnel, en utilisant les dernières techniques et technologies. Que vous souhaitiez rénover votre salle de bain existante ou en créer une nouvelle, ils peuvent vous aider à réaliser votre projet.</p>
  <p>Si vous êtes à la recherche d'un plombier qualifié et fiable à Marseille, Nicolas Terraz et son équipe sont là pour vous. Ils s'engagent à offrir un service de qualité, à des prix raisonnables, et à vous donner des conseils professionnels pour résoudre tous vos problèmes de plomberie. N'hésitez pas à les contacter pour discuter de votre projet.</p>
</div>
