<!-- BLACK BANNER -->
<div class="black-banner">
  <p>lundi au jeudi 8h - 18h, vendredi 8h - 17h</p>
  <p><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;<a href="tel: 07 60 04 25 64">07 60 04 25 64</a></p>
</div>

<div class="radient-bg">
  <%= render "shared/top-bar" %>
  <div class="txt">
  <h1>À propos de Terraz Plomberie</h1>
    <p>&nbsp;&nbsp;&nbsp;<strong>Nicolas Terraz</strong> est un <strong>plombier</strong> à <strong>Marseille</strong> qui a <strong>consacré sa vie à son métier.</strong> Il a commencé comme <strong>apprenti plombier</strong> dans les <strong>années 80</strong> et a rapidement ouvert <strong>sa propre entreprise.</strong> Il est fier de <strong>travailler avec son fils</strong> et <strong>son équipe d'artisans expérimentés</strong> pour offrir un <strong>service de qualité</strong> à ses clients.</p>
    <p>&nbsp;&nbsp;&nbsp;Pour <strong>Nicolas</strong>, l'artisanat est <strong>essentiel</strong> dans son métier. Il croit que <strong>les compétences</strong> et <strong>l'expérience</strong> sont la clé pour <strong>résoudre les problèmes</strong> de plomberie de manière <strong>efficace et durable.</strong> Il prend le temps de <strong>comprendre les besoins</strong> de ses clients et de leur <strong>fournir des solutions sur mesure</strong>, plutôt que de leur <strong>imposer des solutions standard.</strong></p>
    <p>&nbsp;&nbsp;&nbsp;<strong>Nicolas</strong> et <strong>son équipe</strong> sont également des <strong>experts</strong> en matière de <strong>rénovation de salle de bain.</strong> Ils peuvent vous aider à <strong>transformer</strong> votre <strong>salle de bain</strong> en un <strong>espace moderne et fonctionnel</strong>, en utilisant les <strong>dernières techniques</strong> et <strong>technologies.</strong> Que vous souhaitiez <strong>rénover</strong> votre <strong>salle de bain existante</strong> ou en <strong>créer une nouvelle</strong>, ils peuvent vous <strong>aider à réaliser votre projet.</strong></p>
    <p>&nbsp;&nbsp;&nbsp;Si vous êtes à la recherche d'un <strong>plombier qualifié</strong> et <strong>fiable</strong> à <strong>Marseille</strong>,<strong> Nicolas Terraz</strong> et <strong>son équipe</strong> sont là <strong>pour vous.</strong> Ils s'engagent à <strong>offrir un service de qualité</strong>, à <strong>des prix raisonnables</strong>, et à vous <strong>donner des conseils professionnels</strong> pour <strong>résoudre tous vos problèmes de plomberie.</strong> N'hésitez pas à les <strong>contacter</strong> pour discuter de <strong>votre projet.</strong></p>
    <a href="tel: 07 60 04 25 64" class="button orange-button"><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;Appeler</a>
    <a href="/contact" class="button blue-button"><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;Ecrire un message</a>
  </div>
</div>
