<div class="black-banner">
  <p>lundi au jeudi 8h - 18h, vendredi 8h - 17h</p>
  <p><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;<a href="tel: 07 60 04 25 64">07 60 04 25 64</a></p>
</div>

<div class="radient-bg">
  <%= render "shared/top-bar" %>
  <ul>
    <li>Installation de nouveaux systèmes de climatisation</li>
    <li>Réparation de systèmes de climatisation existants</li>
    <li>Entretien et maintenance de systèmes de climatisation</li>
    <li>Remplacement de systèmes de climatisation</li>
    <li>Installation de thermostats</li>
    <li>Réparation de thermostats</li>
    <li>Nettoyage et remplacement des filtres de climatisation</li>
    <li>Entretien des filtres de climatisation</li>
    <li>Réparation de fuites dans les conduits de climatisation</li>
    <li>Réglage de la pression des fluides frigorigènes</li>
  </ul>
</div>
