<div class="black-banner">
  <p>lundi au jeudi 8h - 18h, vendredi 8h - 17h</p>
  <p><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;<a href="tel: 07 60 04 25 64">07 60 04 25 64</a></p>
</div>

<div class="radient-bg">
  <%= render "shared/menu-burger"%>
  <%= render "shared/top-bar" %>

  <div class="container contact-form">
    <form action="/send_contact" method="post">
      <input name="email" type="email" class="form-control mb-1" placeholder="Adresse mail" required>
      <input name="name" type="text" class="form-control mb-1" placeholder="Nom" required>
      <input name="tel" type="tel" class="form-control mb-1" placeholder="Numéro de téléphone" required>
      <select name="subject" class="form-control mb-1" placeholder="Objet" required>
        <option value="">Objet</option>
        <option value="Demande de devis">Demande de devis</option>
        <option value="Demande de renseignements">Demande de renseignements</option>
        <option value="Demande de rendez-vous">Demande de rendez-vous</option>
        <option value="Autre">Autre</option>
      </select>
      <select name="intervention" class="form-control mb-1" placeholder="Intervention souhaitée" required>
        <option value="">Intervention souhaitée</option>
        <option value="Pas de problème indiqué"></option>
        <option value="Plomberie">- PLOMBERIE -</option>
          <option value="Réparation de fuites d'eau">Réparation de fuites d'eau</option>
          <option value="Remplacement de tuyaux endommagés">Remplacement de tuyaux endommagés</option>
          <option value="Rénovation de salle de bain">Rénovation de salle de bain</option>
          <option value="Installation de nouvelles robinetteries">Installation de nouvelles robinetteries</option>
          <option value="Pose et dépannage express de chauffe-eaux et ballons d'eau chaude">Pose et dépannage express de chauffe-eaux et ballons d'eau chaude</option>
          <option value="Réparation ou remplacement de chasses d'eau">Réparation ou remplacement de chasses d'eau</option>
          <option value="Installation ou remplacement de ballons d'eau chaude">Installation ou remplacement de ballons d'eau chaude</option>
          <option value="Installation de radiateurs">Installation de radiateurs</option>
          <option value="Installation de lave-vaisselle ou de lave-linge">Installation de lave-vaisselle ou de lave-linge</option>
          <option value="Mise en place de dispositifs de filtration d'eau">Mise en place de dispositifs de filtration d'eau</option>
          <option value="Réparation ou remplacement de WC">Réparation ou remplacement de WC</option>
          <option value="Installation de douches ou de baignoires">Installation de douches ou de baignoires</option>
          <option value="Réparation de fuites dans les canalisations souterraines">Réparation de fuites dans les canalisations souterraines</option>
          <option value="Contrôle annuel de la plomberie et de la chaudière">Contrôle annuel de la plomberie et de la chaudière</option>
        <option value="Pas de problème indiqué"></option>
        <option value="Chauffage">- CHAUFFAGE -</option>
          <option value="Installation de nouvelles chaudières">Installation de nouvelles chaudières</option>
          <option value="Réparation de chaudières existantes">Réparation de chaudières existantes</option>
          <option value="Entretien et maintenance de chaudières">Entretien et maintenance de chaudières</option>
          <option value="Remplacement de chaudières">Remplacement de chaudières</option>
          <option value="Installation de radiateurs">Installation de radiateurs</option>
          <option value="Réparation de radiateurs">Réparation de radiateurs</option>
          <option value="Installation de thermostats">Installation de thermostats</option>
          <option value="Réparation de thermostats">Réparation de thermostats</option>
          <option value="Inspection de la cheminée et du conduit de fumée">Inspection de la cheminée et du conduit de fumée</option>
          <option value="Installation de convecteurs électriques et sèche-serviettes">Installation de convecteurs électriques et sèche-serviettes</option>
        <option value="Pas de problème indiqué"></option>
        <option value="Climatisation">- CLIMATISATION -</option>
          <option value="Installation de nouveaux systèmes de climatisation">Installation de nouveaux systèmes de climatisation</option>
          <option value="Réparation de systèmes de climatisation existants">Réparation de systèmes de climatisation existants</option>
          <option value="Entretien et maintenance de systèmes de climatisation">Entretien et maintenance de systèmes de climatisation</option>
          <option value="Remplacement de systèmes de climatisation">Remplacement de systèmes de climatisation</option>
          <option value="Installation de thermostats">Installation de thermostats</option>
          <option value="Réparation de thermostats">Réparation de thermostats</option>
          <option value="Nettoyage et remplacement des filtres de climatisation">Nettoyage et remplacement des filtres de climatisation</option>
          <option value="Entretien des filtres de climatisation">Entretien des filtres de climatisation</option>
          <option value="Réparation de fuites dans les conduits de climatisation">Réparation de fuites dans les conduits de climatisation</option>
          <option value="Réglage de la pression des fluides frigorigènes">Réglage de la pression des fluides frigorigènes</option>
      </select>
      <textarea name="message" class="form-control" placeholder="Informations complémentaires" required></textarea>
      <button type="submit" class="button blue-button">Envoyer</button>
    </form>
  </div>

  <div id='map' style='width: 100vw; height: 60vh;'
    data-controller="map"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <%# <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiaGVubnlwb3AiLCJhIjoiY2xmNnZrejNrMTh1bzN3b2N4dHUwN2xoMiJ9.Fs9afS17fE6FucsoRKfQEA';
    const map = new mapboxgl.Map({
    container: 'map', // container ID
    style: 'mapbox://styles/mapbox/streets-v12', // style URL
    center: [5.407353, 43.254670], // starting position [lng, lat]
    zoom: 13, // starting zoom
    });

  </script> %>
</div>

<%# FOOTER %>
<%= render "shared/footer" %>
