<div class="black-banner">
  <p>lundi au jeudi 8h - 18h, vendredi 8h - 17h</p>
  <p><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;<a href="tel: 07 60 04 25 64">07 60 04 25 64</a></p>
</div>

<div class="radient-bg">
  <%= render "shared/top-bar" %>
  <form action="/send_contact" method="post">
    <input name="email" type="email" class="form-control mb-1" placeholder="Your email">
    <input name="name" type="text" class="form-control mb-1" placeholder="Your name">
    <input name="tel" type="tel" class="form-control mb-1" placeholder="Your number">
    <input name="subject" type="text" class="form-control mb-1" placeholder="Object">
    <textarea name="message" class="form-control" placeholder="Your message"></textarea>
    <button type="submit">Submit</button>
  </form>
</div>
