<div class="black-banner">
  <p>lundi au jeudi 8h - 18h, vendredi 8h - 17h</p>
  <p><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;<a href="tel: 07 60 04 25 64">07 60 04 25 64</a></p>
</div>

<div class="radient-bg">
  <%= render "shared/menu-burger"%>
  <%= render "shared/top-bar" %>

  <div class="container contact-form">
    <form action="/send_contact" method="post">
      <input name="email" type="email" class="form-control mb-1" placeholder="Adresse mail" required>
      <input name="name" type="text" class="form-control mb-1" placeholder="Nom" required>
      <input name="tel" type="tel" class="form-control mb-1" placeholder="Numéro de téléphone" required>
      <select name="subject" class="form-control mb-1" placeholder="Objet" required>
        <option value="">Objet</option>
        <option value="Réparation de fuites d'eau">Réparation de fuites d'eau</option>
        <option value="Remplacement de tuyaux endommagés">Remplacement de tuyaux endommagés</option>
        <option value="Rénovation de salle de bain">Rénovation de salle de bain</option>
        <option value="Installation de nouvelles robinetteries">Installation de nouvelles robinetteries</option>
        <option value="Débouchage de canalisations obstruées">Débouchage de canalisations obstruées</option>
        <option value="Réparation ou remplacement de chasses d'eau">Réparation ou remplacement de chasses d'eau</option>
        <option value="Installation ou remplacement de ballons d'eau chaude">Installation ou remplacement de ballons d'eau chaude</option>
        <option value="Installation de radiateurs">Installation de radiateurs</option>
        <option value="Installation de lave-vaisselle ou de lave-linge">Installation de lave-vaisselle ou de lave-linge</option>
        <option value="Mise en place de dispositifs de filtration d'eau">Mise en place de dispositifs de filtration d'eau</option>
        <option value="Réparation ou remplacement de WC">Réparation ou remplacement de WC</option>
        <option value="Installation de douches ou de baignoires">Installation de douches ou de baignoires</option>
        <option value="Réparation de fuites dans les canalisations souterraines">Réparation de fuites dans les canalisations souterraines</option>
        <option value="Contrôle annuel de la plomberie et de la chaudière">Contrôle annuel de la plomberie et de la chaudière</option>
      </select>
      <textarea name="message" class="form-control" placeholder="Informations complémentaires" required></textarea>
      <button type="submit" class="button blue-button">Envoyer</button>
    </form>
  </div>
</div>

<%# FOOTER %>
<%= render "shared/footer" %>
