<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  </head>

  <body>


    <!-- BANNER / NAVBAR -->
    <div class="black-banner">
      <p>lundi au jeudi 8h - 18h, vendredi 8h - 17h</p>
      <p><i class="fa-solid fa-phone"></i> 07 60 04 25 64</p>
    </div>

    <div class="bg-1">
      <div class="big-banner-container">
        <div class="top-bar">
          <div class="logo">
            <h2>TERRAZ<br>PLOMBERIE</h2>
          </div>
          <nav class="nav-desktop">
            <ul>
              <li><a href="#">À propos</a></li>
              <li><a href="#">Chauffage</a></li>
              <li><a href="#">Plomberie</a></li>
              <li><a href="#">Climatisation</a></li>
            </ul>
          </nav>
        </div>
        <div class="bottom-bar">
          <div class="content">
            <h1>Plomberie,<br>Chauffage &<br>Climatisation</h1>
            <p>Notre entreprise est spécialisée dans les domaines de la plomberie, du chauffage et de la climatisation.</p>
            <p>Nous proposons des services de qualité pour répondre à tous vos besoins.</p>
            <div class="cta-buttons">
              <a href="#" class="rdv-button">Prendre RDV</a>
              <a href="#" class="devis-button">Devis gratuit</a>
            </div>
          </div>
          <%= image_tag("robinet-resized.png", class: "image-robinet") %>
        </div>
      </div>

      <!-- À PROPOS -->
      <div class="about">
        <div class="text">
          <h1>À propos</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada ullamcorper iaculis. Fusce tempus dapibus tempus. Proin eget ipsum at augue feugiat ornare.
          <br>
          <br>
          Proin viverra vehicula nisl a faucibus. Quisque iaculis sapien in nisl ullamcorper, et molestie libero vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada ullamcorper iaculis.</p>
        </div>
        <div class="img-about"></div>
      </div>
    </div>




    <!-- PLOMBERIE -->
    <div class="bg-2">

    </div>
    <!-- CHAUFFAGE -->

    <!-- CLIMATISATION -->

    <!-- FOOTER -->

  </body>
</html>
