<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  </head>

  <body>
    <!-- BANNER / NAVBAR -->
    <div class="black-banner">
      <p>Du lundi au samedi - 7h à 23h</p>
      <p><i class="fa-solid fa-phone"></i> 06 00 00 00 00</p>
    </div>

    <div class="bg-1">

    </div>

    <!-- À PROPOS -->
    <div class="about">
      <div class="text">
        <h1>À propos</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada ullamcorper iaculis. Fusce tempus dapibus tempus. Proin eget ipsum at augue feugiat ornare.
        <br>
        <br>
        Proin viverra vehicula nisl a faucibus. Quisque iaculis sapien in nisl ullamcorper, et molestie libero vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada ullamcorper iaculis.</p>
      </div>
      <div class="img-about"></div>
    </div>

    <!-- PLOMBERIE -->
    <div class="bg-2">

    </div>
    <!-- CHAUFFAGE -->

    <!-- CLIMATISATION -->

    <!-- FOOTER -->

  </body>
</html>
