.bg-2 {
  width: 100%;
  background: $white;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin: 10vh 20vh;

  .text {
    z-index: 1;
    width: 60%;
    margin-right: 10vh;
    h1 {
      text-transform: uppercase;
      margin-bottom: 2vh;
    }
  }

  a {
    margin-top: 2vh;
  }
}

.img-about {
  height: 300px;
  width: 50%;
  z-index: 1;
  object-fit: cover;
  object-position: center;
}
