.bg-1 {
  width: 100%;
  background: linear-gradient(180deg, rgba(193,238,255,1) 50%, rgba(245,245,245,1) 100%);
  padding-top: 2vh;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $dark-blue;

  h2 {
    margin-left: 10vh;
  }
}

.image-robinet {
  width: 30%;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 30vh;
  z-index: 0;
}

.bottom-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.content {
  align-self: flex-start;
  margin: 20vh;
  color: $dark-blue;
  z-index: 1;
}

.nav-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20vh;
  margin-bottom: 20vh;
}

.nav-card {
  width: 30%;
  background-color: $white;
  color: $dark-blue;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 0.15s ease-in-out;

  .orange-card {
    display: none;
  }

  img {
    width: 50%;
    height: 50%;
    object-fit: contain;
  }

  h2 {
    font-size: 24px;
    font-weight: 400;
  }
}

.nav-card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
  transform: translateY(2px);
  color: $orange;
  cursor: pointer;

  img {
    width: 50%;
    height: 50%;
    object-fit: contain;
  }

  .blue-card {
    display: none;
  }

  .orange-card {
    display: inline;
  }

}
