.bg-1 {
  width: 100%;
  background: linear-gradient(180deg, rgba(193,238,255,1) 70%, rgba(245,245,245,1) 100%);
}

// .big-banner-container {
//   // width: 85vw;
//   margin: 0 auto;
// }

.top-bar {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-robinet {
  width: 30%;
  object-fit: cover;
}

.bottom-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  align-self: flex-start;
  margin: 20vh;
}
