.black-banner {
  background-color: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    color: whitesmoke;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    a{
      text-decoration: none;
      color: whitesmoke;
      :hover {
        text-decoration: none;
        color: whitesmoke;
      }
    }
  }
  .fa-phone {
    color: $orange;
  }
}

/* DESKTOP */
@media screen
and (min-device-width: 1200px) {
  .black-banner {
    padding: 10px 30px 10px;
    p{
      font-size: 14px;
    }
  }
}

/* MOBILE */
@media screen
and (min-device-width: 375px)
and (max-device-width: 1200px) {
  .black-banner {
    padding: 1vh;
    p{
      font-size: 11px;
    }
  }
}
