.button {
  margin-right: 2vh;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
  box-sizing: border-box;
  color: $white !important;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  will-change: transform;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;
  transform: translateY(-2px);
  color: $white;
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

.orange-button {
  background-color: $orange;
  border: 2px solid $orange;
}

.blue-button {
  background-color: $dark-blue !important;
  border: 2px solid $dark-blue !important;
}

/* DESKTOP */
@media screen
and (min-width: 1024px) {
  .button {
    padding: 15px 25px;
  }
}

/* MOBILE */
@media screen
and (max-width: 1024px) {
  .button {
    padding: 8px 10px;
  }
}

#read-more-btn {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: $dark-blue;
}

.show-button {
  background-color: $black;
  color: $white;
  margin-bottom: 12px;

  p {
    margin: 0;
  }

  i {
    margin-left: 5px;
    color: $white !important;
  }

  &:hover {
    background-color: $white;
    color: $black;

    i {
      color: $black !important;
    }
  }

}

.delete-btn {
  background-color: #CC0100;
}
