.button {
  margin-right: 2vh;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  will-change: transform;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  color: $white;
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}


.orange-button {
  background-color: $orange;
  border: 2px solid $orange;
}

.blue-button {
  background-color: $dark-blue;
  border: 2px solid $dark-blue;
}

/* DESKTOP */
@media screen
and (min-device-width: 1200px) {
  .button {
    padding: 15px 25px;
  }
}

/* MOBILE */
@media screen
and (min-device-width: 375px)
and (max-device-width: 1200px) {
  .button {
    padding: 8px 10px;
  }
}
