/* DESKTOP */
@media screen
and (min-width: 1024px) {
  .climatisation {
    text-align: justify;
    margin: 10vh 20vh;
    float:right;

    .clim-img {
      width: 30vh;
      float:left;
      margin-top: 15vh;
      margin-right: 10vh;
    }
  }
}

/* MOBILE */
@media screen
and (max-width: 1024px) {
  .climatisation {
    text-align: justify;
    margin: 4vh 5vh;
    float:right;

    .clim-img {
      float:left;
      width: 15vh;
      margin-top:4vh;
      margin-right: 2vh;
    }
  }
}
