.confirmation-message {
  border-radius: 5px;
  color: $dark-blue;
  font-size: 1.2rem;
  margin: 0 auto;
  max-width: 500px;
  padding: 1rem;
  text-align: center;
  margin-top: 10vh;
}

.happy-plumber {
  height: 40vh;
  margin-bottom: 5vh;
}
