.logo-black {
    text-align: center;
    .logo-b {
      width: 30vh;
      margin: 5vh 0;
    }
  }

.footer-banner {
    background-color: $dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px 10px;
    p {
      color: whitesmoke;
      opacity: 70%;
      text-align: center;
      margin: 0;
      font-size: 0.8em;
    }
  }

/* DESKTOP */
@media screen
and (min-device-width: 1200px) {
  footer {
    margin-top: 20vh;

    .column-footer {
      margin: 4vh;
      display: flex;
      justify-content: space-between;
      h3 {
        text-transform: uppercase;
        font-size: 1.1em;
        margin-bottom: 3vh;
      }
      p {
        font-size: 0.8em;
        line-height: 2.5em;
        opacity: 60%;
        a {
          text-decoration: none;
          color: $black;
          :hover {
            text-decoration: none;
            color: $black;
          }
        }
      }
    }
  }
}

/* MOBILE */
@media screen
and (min-device-width: 375px)
and (max-device-width: 1200px) {
  footer {
    margin-top: 10vh;

    .column-footer {
      margin: 3vh;
      display: flex;
      flex-direction: column;
      h3 {
        text-transform: uppercase;
        font-size: 1em;
        margin-bottom: 1vh;
        margin-top: 2vh;
      }
      p {
        font-size: 0.8em;
        line-height: 2.3em;
        opacity: 60%;
        a {
          text-decoration: none;
          color: $black;
          :hover {
            text-decoration: none;
            color: $black;
          }
        }
      }
    }
  }
}
