/* DESKTOP */
@media screen
and (min-width: 1024px) {
  .txt {
    margin: 10vh 20vh 10vh;
    text-align: justify;
    h1 {
      margin-bottom: 5vh;
    }
  }
}

/* MOBILE */
@media screen
and (max-width: 1024px) {
  .txt {
    margin: 4vh 5vh;
    text-align: justify;
    h1 {
      margin-bottom: 5vh;
    }
  }
}
