.bg-3 {
  width: 100%;
  background: linear-gradient($light-blue, $light-blue, $white);
}

.plomberie {
  display: flex;
  text-align: justify;
  .text {
    color: $dark-blue;
    z-index: 1;
    width: 60%;
    margin-right: 10vh;

    h1 {
      text-transform: uppercase;
      margin-bottom: 6vh;
      margin-top: 5vh;
    }
    h2 {
      font-size: 22px;
    }
  }

  .img-plomberie {
    width: 84vh;
    height: 95vh;
  }
}
